
{% if event %}

{% if isRootElement %}
<div class="section hero" style="background-image: url('{{ event.thumbnail.src('original') }}');" >
	{% if showSpeaker and speaker %}
	<div class="card__label card__label--image">
		<img src="{{speaker.thumbnail.src('thumbnail')}}">
		<span>{{ speaker.title }}</span>
	</div>
	{% endif %}

	<div class="{{isRootElement ? 'container' : ''}}">
	
		<div class="hero__title">
		<h1>{{ event.post_title }}</h1>
		<span class="tag">{{event.audience}}</span>
		<p>
			{{ event.post_excerpt }}
		</P>
		<a class="button button--primary" href="{{ function("get_permalink", event.ID) }}">{{ __("Details", "events-manager") }}</a>
		</div>
	</div>
<div>
{% else %}

<a class="card card--image-top card--hover card--primary {{ dropShadow ? "card--shadow" }}" href="{{ function("get_permalink", event.ID) }}">
	<div class="card__image"><img src="{{ event.thumbnail.src('original') }}"/></div>
	{% if showSpeaker and speaker %}
	<div class="card__label card__label--image">
	<img src="{{speaker.thumbnail.src('thumbnail')}}">
	<span>{{ speaker.title }}</span>
	</div>
	{% endif %}
	<div class="card__image-overlay">
	{% if showAudience and event.meta.event_audience %}
		<span class="card__label">
			{{ event.meta.event_audience }}
		</span>
	{% endif %}
	<h3 class="card__title">{{ event.post_title }}</h3>
	<span class="card__subtitle">
						{% if event._event_start_date == event._event_end_date %}
							{{ event._event_start_date|date("j. F Y") }} {{ __("from", "em-pro")}} {{ event._event_start_time|date("G:i", false) }} {{ __("to", "events-manager")}} {{ event._event_end_time|date("G:i", false) }} Uhr
						{% else %}
							{{ event._event_start_date|date("j. F") }} {{ __("to", "events-manager")}} {{ event._event_end|date("j. F Y") }}    
						{% endif %}
                    </span>
		
		<div class="card__text">
		{% if excerptLength > 0 %}
		{% if event.post_excerpt %}
				{{ event.post_excerpt|excerpt(excerptLength) }}
		{% elseif event.post_content %}
			{{ event.post_content|excerpt(excerptLength) }}
		{% endif %}
		{% endif %}
		</div>
	</div>
		
	</a>

{% endif %}
{% endif %}
