<div class="posts grid--gap-12 {% if style != "mini" %} grid grid--columns-{{columnsSmall}} md:grid--columns-{{columnsMedium}} lg:grid--columns-{{columnsLarge}} {% endif %}">
    {% for item in events %}
            <a 
                class="
                    card--primary
                    card--shadow
                    {% if dropShadow %}card--hover {% endif %}
                    {% if function("get_the_ID") == item.ID %}text-blue{% endif %} 
                    {{ style == "list" ? "card--image-left card bg-white" }}
                    {{ style == "cards" ? "cars--image-top card bg-white" }}
                    {{ style == "mini" ? "flex-row"}}
                    {{loop.first ? "card--first"}}
                    {{loop.last ? "card--last"}}
                    overflow-visible
                "            
                href="{{ function("get_permalink", item.ID) }}"
            >
            {% if showCategory %}
                        {% set terms = item.terms({query:{taxonomy:'event-categories'}})%}
                        <span class="card__label">{% for term in terms %}{{term.name}}{% endfor %}</span>
                    {% endif %}
            {% if style != "mini" %}
                <div class="card__image">
                    <img src="{{ item.thumbnail.src('large') }}" alt="item.thumbnail">
                </div>
                
            {% else %}
                <div class="block text-gray-500 w-24 flex flex-col items-center align-center"><div class="text-2xl font-bold">{{item._event_start_date|date("j")}}</div><div class="text-sm">{{item._event_start_date|date("M")}}</div></div>
            {% endif %}
                <div class="{{ style != "mini" ? "card__content" }}" {{ style == "mini" ? "style='border-style: dotted !important; border-left-width: 4px !important; border-color: var(--primary) !important;'" }}>
                    {% if style != "mini" %}<span class="card__subtitle">
                    {% if item._event_start_date == item._event_end_date %}
                        {{ item._event_start_date|date("j. F Y") }} von {{ item._event_start_time|date("G:i", false) }} bis {{ item._event_end_time|date("G:i", false) }} Uhr
                    {% else %}
                        {{ item._event_start_date|date("j. F") }} bis {{ item._event_end|date("j. F Y") }}
                            
                    {% endif %}
        
                    </span>{% endif %}
                    
                    <span class="catd__title">{{item.post_title}}</span>
                    
                    
                    <p class="card__text">
                    
                    {{ showCategory and showTags ? "|" }}
                    {% if showTags %}
                        {% set terms = item.terms({query:{taxonomy:'event-tags'}})%}
                        <i class="material-icons text-xs absolute -mt-2">label</i><span class="ml-4">{% for term in terms %}{{term.name}}{% endfor %}</span>
                    {% endif %}
                    {{ showTags and showLocation ? "|" }}
                    {% if showLocation %}
                        {% set location = get_event_location(item.custom._location_id) %}
                        <i class="material-icons text-xs absolute" style="margin-top: 1px;">place</i><span class=""> {{ showLocation == "city" ? location.location_town : location.location_name }}</span>
                    {% endif %}
                    </p>
                    
                </div>
            </a>
        
    {% endfor %}
</div>