{% set seperator = "<span class='mr-1 ml-1'>|</span>" %}

<div class="posts grid--gap-12 {% if style != "mini" %} grid grid--columns-{{columnsSmall}} md:grid--columns-{{columnsMedium}} xl:grid--columns-{{columnsLarge}} {% endif %}">
    {% for item in events %}
	{% set terms = item.terms({query:{taxonomy:'event-categories'}})%}
            <a 
                class="
                    card--primary
                    card--shadow
                    {% if dropShadow %}card--hover {% endif %}
                    {% if function("get_the_ID") == item.ID %}text-blue{% endif %} 
                    {{ style == "list" ? "card--image-left card bg-white" }}
                    {{ style == "cards" ? "card--image-top card bg-white" }}
                    
                    {{loop.first ? "card--first"}}
                    {{loop.last ? "card--last"}}
                    overflow-visible
                "            
                href="{{ function("get_permalink", item.ID) }}"
            >
            {% if showCategory and style == "list" %}        
                <span class="card__label">{% for term in terms %}{{term.name}}{% endfor %}</span>
            {% endif %}
      
			<div class="card__image">
				<img src="{{ item.thumbnail.src('large') }}" alt="item.thumbnail">
			</div>
                
              <div class="card__content">
                    
                    <span class="card__title card__title--small">{{item.post_title}}</span>

					<span class="card__subtitle">
						{% if item._event_start_date == item._event_end_date %}
							{{ item._event_start_date|date("j. F Y") }} {{ __("from", "em-pro")}} {{ item._event_start_time|date("G:i", false) }} {{ __("to", "events-manager")}} {{ item._event_end_time|date("G:i", false) }} Uhr
						{% else %}
							{{ item._event_start_date|date("j. F") }} {{ __("to", "events-manager")}} {{ item._event_end|date("j. F Y") }}    
						{% endif %}
                    </span>
                    
                    <div class="card__text">
					{% if excerptLength > 0 %}
					{% if item.post_excerpt %}
							{{ item.post_excerpt|excerpt(excerptLength) }}
					{% elseif item.post_content %}
						{{ item.post_content|excerpt(excerptLength) }}
					{% endif %}
					{% endif %}
					</div>
                    <div class="card__footer">
						{% if showTags %}
							{% set terms = item.terms({query:{taxonomy:'event-tags'}})%}
							<i class="material-icons text-xs absolute -mt-2">label</i><span class="ml-4">{% for term in terms %}{{term.name}}{% endfor %}</span>
						{% endif %}
						
						{% if showLocation and item.meta._location_id %}
							{% set location = get_event_location(item.meta._location_id) %}
							<i class="material-icons material-icons--bubble material-icons--micro-bubble text-xs mr-1" style="margin-top: 1px;">place</i><span class="text-xs mr-4"> {{ showLocation == "city" ? location.location_town : location.location_name }}</span>
						{% endif %}
						
						{% if showAudience and item.meta.event_audience %}
							<i class="material-icons material-icons--bubble material-icons--micro-bubble text-xs mr-1" style="margin-top: 1px;">family_restroom</i><span class="text-xs"> {{ item.meta.event_audience  }}</span>
						{% endif %}
                    </div>
                    
                </div>
            </a>
        
    {% endfor %}
</div>