<div class="posts gap-12 {% if style != "mini" %} grid grid-cols-{{columnsSmall}} md:grid-cols-{{columnsMedium}} lg:grid-cols-{{columnsLarge}} {% endif %}">
    {% for item in events %}
            <a 
                class="
                    flex
                    {% if dropShadow %}hover {% endif %}
                    {% if function("get_the_ID") == item.ID %}text-blue{% endif %} 
                    items-center
                    {{ style == "list" ? "image-left card bg-white" }}
                    {{ style == "cards" ? "image-top card bg-white" }}
                    {{ style == "mini" ? "flex-row"}}
                    {{loop.first ? "first"}}
                    {{loop.last ? "last"}}
                    overflow-visible
                "            
                href="{{ function("get_permalink", item.ID) }}"
            >
            {% if showCategory %}
                        {% set terms = item.terms({query:{taxonomy:'event-categories'}})%}
                        <span class="inline-block absolute bg-primary text-primary-contrast rounded-tl-lg rounded-br-lg top-0 right-0 px-2  mr-4 text-sm -mt-2">{% for term in terms %}{{term.name}}{% endfor %}</span>
                    {% endif %}
            {% if style != "mini" %}
                <img class="card-image" src="{{ item.thumbnail.src('large') }}">
            {% else %}
                <div class="block text-gray-500 w-24 flex flex-col items-center align-center"><div class="text-2xl font-bold">{{item._event_start_date|date("j")}}</div><div class="text-sm">{{item._event_start_date|date("M")}}</div></div>
            {% endif %}
                <div class="{{ style != "mini" ? "card-content" }}" {{ style == "mini" ? "style='border-style: dotted !important; border-left-width: 4px !important; border-color: var(--primary) !important;'" }}>
                    {% if style != "mini" %}<span class="block text-gray-500 text-sm">
                    {% if item._event_start_date == item._event_end_date %}
                        {{ item._event_start_date|date("j. F Y") }} von {{ item._event_start_time|date("G:i", false) }} bis {{ item._event_end_time|date("G:i", false) }} Uhr
                    {% else %}
                        {{ item._event_start_date|date("j. F") }} bis {{ item._event_end|date("j. F Y") }}
                            
                    {% endif %}
        
                    </span>{% endif %}
                    
                    <h5 class="block font-bold text-primary inline-block">{{item.post_title}}</h5>
                    
                    
                    <p class="text-gray-400 text-xs">
                    
                    {{ showCategory and showTags ? "|" }}
                    {% if showTags %}
                        {% set terms = item.terms({query:{taxonomy:'event-tags'}})%}
                        <i class="material-icons text-xs absolute -mt-2">label</i><span class="ml-4">{% for term in terms %}{{term.name}}{% endfor %}</span>
                    {% endif %}
                    {{ showTags and showLocation ? "|" }}
                    {% if showLocation %}
                        {% set location = get_event_location(item.custom._location_id) %}
                        <i class="material-icons text-xs absolute" style="margin-top: 1px;">place</i><span class="ml-4"> {{ showLocation == "city" ? location.location_town : location.location_name }}</span>
                    {% endif %}
                    </p>
                    
                </div>
            </a>
        
    {% endfor %}
</div>